<ion-view view-title="Calories">

  <ion-content>
  <!-- http://ionicframework.com/docs/components/#radio-buttons -->

  <h2 class="title">Date du jour </h2>

		<div class="list">
		  <div class="item item-divider">
		    Petit-dej
		  </div>
			  <label class="item item-radio">
			    <input type="radio" name="group1">
			    <div class="item-content">
			      Cereales
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
			  </label>
				<label class="item item-radio">
			    <input type="radio" name="group2">
			    <div class="item-content">
			      Lait
			    </div>
				<label class="item item-radio">
			    <input type="radio" name="group3">
			    <div class="item-content">
			      café
			    </div>
		  <div class="item item-divider">
		    dejeuné
		  </div>
			  <label class="item item-radio">
			    <input type="radio" name="group4">
			    <div class="item-content">
			      Dombré & crabes
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
			  </label>
				<label class="item item-radio">
			    <input type="radio" name="group5">
			    <div class="item-content">
			      colombo
			    </div>
				<label class="item item-radio">
			    <input type="radio" name="group6">
			    <div class="item-content">
			      bokit
			    </div>
		  <div class="item item-divider">
		    dinné
		  </div>
			  <label class="item item-radio">
			    <input type="radio" name="group7">
			    <div class="item-content">
			      salade
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
			  </label>
				<label class="item item-radio">
			    <input type="radio" name="group8">
			    <div class="item-content">
			      soupe
			    </div>
				<label class="item item-radio">
			    <input type="radio" name="group9">
			    <div class="item-content">
			      pizza
			    </div>
		  <div class="item item-divider">
		    Snack
		  </div>
			  <label class="item item-radio">
			    <input type="radio" name="group10">
			    <div class="item-content">
			      kasav
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
			  </label>
				<label class="item item-radio">
			    <input type="radio" name="group11">
			    <div class="item-content">
			      cookie
			    </div>
				<label class="item item-radio">
			    <input type="radio" name="group12">
			    <div class="item-content">
			      brownie
			    </div>

		  <div class="item item-divider">
		    Boisson
		  </div>
			  <label class="item item-radio">
			    <input type="radio" name="group13">
			    <div class="item-content">
			      punch coco 
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
			  </label>
				<label class="item item-radio">
			    <input type="radio" name="group14">
			    <div class="item-content">
			      ordinaire
			    </div>
				<label class="item item-radio">
			    <input type="radio" name="group">
			    <div class="item-content">
			      eau
			    </div>
		</div>

	    <div class="row">
      <div class="col">
        <button class="button button-full button-balanced"><a href="#/app/home">Valider</a></button>
      </div>
    </div>

  </ion-content>
</ion-view>
