<ion-view view-title="Progression">
  <ion-content>
    <div class="row">
      <div class="col">
      <button class="button button-block button-balanced">
        Jour
      </button>
      </div>
      <div class="col">
      <button class="button button-block button-balanced">
        Mois
      </button>
      </div>
    </div>  
    <h2 class="title">Diagramme de progression </h2>
    <div class="row">
      <div class="col-100">

      </div>
    </div>
    <div class="row">
      <div class="col">
        <i class="icon ion-star item positive"></i><br>
        <i class="icon ion-star item balanced"></i><br>
        <i class="icon ion-star item assertive"></i><br>
      </div>
    </div>
  </ion-content>
</ion-view>
