<ion-view view-title="Edit Profil">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Name :</span>
        <input type="text" placeholder="70">
      </label>
      <label class="item item-input">
        <span class="input-label">Sexe :</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input">
        <span class="input-label">Poids :</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input">
        <span class="input-label">Taille :</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input">
        <span class="input-label">Objectif :</span>
        <input type="text" placeholder="">
      </label>
    </div>


    <div class="row">
      <div class="col">
        <button class="button button-block button-outline button-balanced"><a href="#/app/home">Valider</a></button>
      </div>
    </div>
  </ion-content>
</ion-view>

