<ion-view view-title="Profil">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Name :</span>
        <input type="text" placeholder="70" disabled>
      </label>
      <label class="item item-input">
        <span class="input-label">Sexe :</span>
        <input type="text" placeholder="" disabled>
      </label>
      <label class="item item-input">
        <span class="input-label">Poids :</span>
        <input type="text" placeholder="" disabled>
      </label>
      <label class="item item-input">
        <span class="input-label">Taille :</span>
        <input type="text" placeholder="" disabled>
      </label>
      <label class="item item-input">
        <span class="input-label">Objectif :</span>
        <input type="text" placeholder="" disabled>
      </label>
    </div>


    <div class="row">
      <div class="col">
        <a href="#/app/profile/edit"><button class="button button-block button-outline button-balanced">Editer</button></a>
      </div>
    </div>


  </ion-content>
</ion-view>

