<ion-view view-title="Journal">
  <ion-content>
    <ul class="list">
      <a  class="item item-icon-right"> <!-- Lien vers archive.html -->
      	<i class="icon ion-chevron-right"></i>
        Date : Dimanche 3 Janvier <br>
        Calorie : 2000kal
      </a >
      <a  class="item item-icon-right" href="#/app/archives"><!-- Lien vers archive.html -->
      <i class="icon ion-chevron-right"></i>
        Date : Dimanche 5 Janvier <br>
        Calorie : 1600kal
      </a >
    </ul>
  </ion-content>
</ion-view>
