<ion-view view-title="Progression">
  <ion-content>
    <h2 class="title">Courbe de progression </h2>
    <div class="row">
      <div class="col-100">
          <canvas id="line" class="chart chart-line" data="data"
                  labels="labels" legend="true" series="series"
                  click="onClick">
          </canvas>
      </div>
    </div>

    <div class="row">
      <div class="col-100">
        <h3>Details</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pellentesque ante in lacus tincidunt, accumsan ultricies neque aliquam. </p>
      </div>
    </div>  
    <div class="row">
      <button class="button button-block button-balanced">
        Enregistré les modifications
      </button>
    </div> 

  </ion-content>
</ion-view>
